/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 * -------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Nabla');

:root {
  --vp-c-brand: #646cff;
  --vp-c-brand-light: #747bff;
  --vp-c-brand-lighter: #9499ff;
  --vp-c-brand-lightest: #bcc0ff;
  --vp-c-brand-dark: #535bf2;
  --vp-c-brand-darker: #454ce1;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
  --vp-inverted-image-dark-filter: 0%;
  --vp-inverted-image-lighter-filter: 100%;
  --vp-nav-height: 64px;

}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);

}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg,
      #abd3f6 30%,
      #41d1ff);

  --vp-home-hero-image-background-image: linear-gradient(-45deg,
      #abd3f6 50%,
      #47caff 50%);
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-darker);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
  --vp-inverted-image-filter: var(--vp-inverted-image-lighter-filter);
  --vp-c-text-code: #c7254e;
  --vp-c-mute: #f9f2f4;
  /* --vp-c-text-1: rgb(256,256,256.0.91); */
  --vp-c-text-light-1: rgba(0, 0, 0, 0.91);
  --vp-code-color: #c7254e;
  --vp-code-bg: #f9f2f4;
}

.dark {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-lightest);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
  --vp-inverted-image-filter: var(--vp-inverted-image-dark-filter);
  --vp-c-text-code: #c7254e;
  --vp-c-mute: #313136;
  --vp-c-text-dark-1: rgba(255, 255, 255, 0.9);
  --vp-code-color: #c7254e;
  --vp-code-bg: #272a2f;
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}

/**
 * 特殊配置
 * -------------------------------------------------------------------------- */

.VPNavBarTitle,
.VPHero .name span{
  font-family: 'Nabla', cursive;
}

/** 总体类 */
/* ::selection {
  background: var(--custom-selection);
  color: var(--vp-c-bg);
}

::-moz-selection {
  background: var(--custom-selection);
  color: var(--vp-c-bg);
}

::-webkit-selection {
  background: var(--custom-selection);
  color: var(--vp-c-bg);
} */

/* 首页不需要padding，其他页面需要 */
/* .VPContent {
  padding-top: 0 !important;
}

.VPContent .has-sidebar {
  padding-top: var(--vp-nav-height) !important;
} */

.VPNavBar.fill:not(.has-sidebar) {
  border: none !important;
  background-color: transparent !important;
}

.VPNavBar {
  .curtain {
    display: none;
  }

  .content-body {
    pointer-events: none;
    border: none;
    background-color: transparent !important;
  }

  .VPNavBarSearch {
    pointer-events: none;
  }
}

/* 对头像和博客名开启放大的动画 */
.VPNavBarTitle .title {
  transition: all .25s cubic-bezier(0.18, 0.89, 0.32, 1.28);

  &:hover {
    transform: scale(1.03);

    .VPImage {
      transform: scale(1.03);
    }
  }

  .VPImage {
    transition: transform .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }
}

/* 修改a标签样式 */
main .vp-doc a {
  text-decoration: none;
  /* color:#f8cf7a; */
}

main .vp-doc a:hover {
  text-decoration: underline dotted;
}

/* 背景图 */
/* .VPHome::before {
  content: '';
  inset: 0;
  position: fixed;
  top: 0;
  z-index: -1;
  background-image: url(./components/images/rabbit.png);
  background-repeat: repeat;
  min-height: 100%;
} */

.VPHome {
  min-height: calc(100vh - var(--vp-nav-height));
  background: radial-gradient(ellipse, rgba(var(--bg-gradient-home), 1) 0%, rgba(var(--bg-gradient-home), 0) 700%);
}

/* 首页nav背景透明 */
@media screen and (min-width: 960px) {
  #VPContent.is-home.VPContent {
    /* padding-top: 0; */
  }

  .VPHome {
    min-height: 100vh;
  }
}

@media screen and (min-width: 960px) and (max-width: 1120px) {
  .VPContent.has-sidebar {
    /* margin-top: 60px !important; */
  }
}

@media (min-width: 1440px) {
  aside.VPSidebar {
    padding-left: max(32px, calc((100% - (var(--vp-layout-max-width)))))
  }
}